flow.json
[{"id":"692f5b38.c42fe4","type":"tab","label":"IO Setup","disabled":false,"info":"Make the initial GPIO setup in this flow."},{"id":"8236cba4.923ee8","type":"tab","label":"Stepper Example","disabled":false,"info":""},{"id":"7c6748dd.45db18","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"dfd98cc6.0f73d"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"cfc59665.3d4c88","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"e29eedf2.1c4a5"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"6fe8d7c2.b744c8","type":"subflow","name":"Jupiter GPIO Pwm","info":"A node for writing the Jupiter Boards GPIO pins in PWM mode. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the PWM value (\"0\" to \"1023\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":100,"wires":[{"id":"caa1f3e8.f8932"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0"}],"color":"#C0DEED","icon":"node-red/trigger.svg"},{"id":"ada78a1b.1a3d08","type":"subflow","name":"Jupiter GPIO Read","info":"A node for reading the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\nIt has to be polled with any input (even empty) to provide a result.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: triggers the flow execution.\n\nOutputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").","category":"","in":[{"x":40,"y":80,"wires":[{"id":"7b25894f.e13838"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"2dbfb682.32a6ea","port":0}]}],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"25b308da.53c8c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c19b325b.5949d","type":"ui_group","z":"","name":"Default","tab":"25b308da.53c8c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5b81892.31b668","type":"exec","z":"7c6748dd.45db18","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"dfd98cc6.0f73d","type":"function","z":"7c6748dd.45db18","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["c5b81892.31b668"]]},{"id":"e29eedf2.1c4a5","type":"function","z":"cfc59665.3d4c88","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["dc5e9bc2.576a38"]]},{"id":"dc5e9bc2.576a38","type":"exec","z":"cfc59665.3d4c88","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"caa1f3e8.f8932","type":"function","z":"6fe8d7c2.b744c8","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["162a3a02.948886"]]},{"id":"162a3a02.948886","type":"exec","z":"6fe8d7c2.b744c8","command":"gpio pwm","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Pwm","x":510,"y":100,"wires":[[],[],[]]},{"id":"7b25894f.e13838","type":"function","z":"ada78a1b.1a3d08","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["2dbfb682.32a6ea"]]},{"id":"2dbfb682.32a6ea","type":"exec","z":"ada78a1b.1a3d08","command":"gpio read ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Read","x":390,"y":80,"wires":[[],[],[]]},{"id":"11e5472c.4ff759","type":"subflow:cfc59665.3d4c88","z":"692f5b38.c42fe4","name":"Reset","env":[{"name":"pin","value":"16","type":"str"}],"x":490,"y":100,"wires":[]},{"id":"4d71b0b8.3daed","type":"subflow:cfc59665.3d4c88","z":"692f5b38.c42fe4","name":"En","env":[{"name":"pin","value":"8","type":"str"}],"x":490,"y":160,"wires":[]},{"id":"d6048f21.41255","type":"subflow:cfc59665.3d4c88","z":"692f5b38.c42fe4","name":"Dir","env":[{"name":"pin","value":"18","type":"str"}],"x":490,"y":220,"wires":[]},{"id":"bda989a6.c86068","type":"subflow:cfc59665.3d4c88","z":"692f5b38.c42fe4","name":"St","env":[{"name":"pin","value":"12","type":"str"}],"x":490,"y":280,"wires":[]},{"id":"c10a395b.a51be8","type":"subflow:7c6748dd.45db18","z":"692f5b38.c42fe4","name":"Reset","env":[{"name":"pin","value":"16","type":"str"}],"x":1050,"y":100,"wires":[]},{"id":"6b7c8d4f.0c7994","type":"subflow:7c6748dd.45db18","z":"692f5b38.c42fe4","name":"En","env":[{"name":"pin","value":"8","type":"str"}],"x":1050,"y":160,"wires":[]},{"id":"4a885fc5.57c0a","type":"subflow:7c6748dd.45db18","z":"692f5b38.c42fe4","name":"Dir","env":[{"name":"pin","value":"18","type":"str"}],"x":1050,"y":220,"wires":[]},{"id":"64030e8c.8b96c","type":"subflow:7c6748dd.45db18","z":"692f5b38.c42fe4","name":"St","env":[{"name":"pin","value":"12","type":"str"}],"x":1054,"y":280,"wires":[]},{"id":"31b79df8.5856d2","type":"inject","z":"692f5b38.c42fe4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["11e5472c.4ff759","4d71b0b8.3daed","d6048f21.41255","bda989a6.c86068"]]},{"id":"88132471.f23398","type":"inject","z":"692f5b38.c42fe4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":790,"y":100,"wires":[["c10a395b.a51be8"]]},{"id":"ecd222cb.43bb8","type":"inject","z":"692f5b38.c42fe4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":790,"y":160,"wires":[["6b7c8d4f.0c7994"]]},{"id":"76ad6dce.27f924","type":"inject","z":"692f5b38.c42fe4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":790,"y":220,"wires":[["4a885fc5.57c0a"]]},{"id":"2f1c32e6.5b566e","type":"inject","z":"692f5b38.c42fe4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":790,"y":280,"wires":[["64030e8c.8b96c"]]},{"id":"a766ca16.f68d98","type":"subflow:7c6748dd.45db18","z":"8236cba4.923ee8","name":"St","env":[{"name":"pin","value":"12","type":"str"}],"x":650,"y":380,"wires":[]},{"id":"f83265fe.14e418","type":"inject","z":"8236cba4.923ee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[["d4b136bc.70b288"]]},{"id":"1c296287.df9c8d","type":"trigger","z":"8236cba4.923ee8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":380,"wires":[["a766ca16.f68d98"]]},{"id":"e252ac0c.b1604","type":"subflow:7c6748dd.45db18","z":"8236cba4.923ee8","name":"Dir","env":[{"name":"pin","value":"18","type":"str"}],"x":370,"y":80,"wires":[]},{"id":"dfdafc43.62c09","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":0,"width":0,"height":0,"passthru":false,"label":"Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":100,"y":40,"wires":[["e252ac0c.b1604"]]},{"id":"7efcaa87.6acbc4","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":0,"width":0,"height":0,"passthru":false,"label":"Counter-Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":130,"y":140,"wires":[["e252ac0c.b1604"]]},{"id":"f46f68aa.9e6e58","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":2,"width":0,"height":0,"passthru":false,"label":"go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":460,"wires":[["b27ac227.7686f"]]},{"id":"d4b136bc.70b288","type":"switch","z":"8236cba4.923ee8","name":"","property":"rotate","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":380,"wires":[["1c296287.df9c8d"]]},{"id":"755f24ab.8d769c","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":2,"width":0,"height":0,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":520,"wires":[["2c707bd7.7f8d44"]]},{"id":"b27ac227.7686f","type":"function","z":"8236cba4.923ee8","name":"","func":"global.set(\"rotate\",\"1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":460,"wires":[[]]},{"id":"2c707bd7.7f8d44","type":"function","z":"8236cba4.923ee8","name":"","func":"global.set(\"rotate\",\"0\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[[]]},{"id":"bf433842.d45a38","type":"function","z":"8236cba4.923ee8","name":"BLINK n","func":"\nvar o = false;\nvar rotation = global.get(\"rotation\");\nfor (var i=0; i<(rotation*1.12); i++) {\n    node.send( {payload:+(o=!o)} )\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":680,"wires":[["1676c86c.19efe8"]]},{"id":"674e15e9.92f17c","type":"subflow:7c6748dd.45db18","z":"8236cba4.923ee8","name":"St","env":[{"name":"pin","value":"12","type":"str"}],"x":770,"y":680,"wires":[]},{"id":"44a0ff3a.16dc1","type":"trigger","z":"8236cba4.923ee8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":680,"wires":[["674e15e9.92f17c"]]},{"id":"1676c86c.19efe8","type":"delay","z":"8236cba4.923ee8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.02","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":680,"wires":[["44a0ff3a.16dc1"]]},{"id":"bd6d85df.b9ca38","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":2,"width":0,"height":0,"passthru":false,"label":"rotate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":680,"wires":[["bf433842.d45a38"]]},{"id":"700605b6.ca353c","type":"ui_text_input","z":"8236cba4.923ee8","name":"","label":"","tooltip":"","group":"c19b325b.5949d","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"1000","topic":"","x":90,"y":580,"wires":[["c038501a.e7356"]]},{"id":"c038501a.e7356","type":"function","z":"8236cba4.923ee8","name":"","func":"global.set(\"rotation\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[[]]},{"id":"bfb78c1f.534ba","type":"subflow:7c6748dd.45db18","z":"8236cba4.923ee8","name":"Reset","env":[{"name":"pin","value":"16","type":"str"}],"x":450,"y":240,"wires":[]},{"id":"5eea9e43.6c10b","type":"trigger","z":"8236cba4.923ee8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":280,"y":240,"wires":[["bfb78c1f.534ba"]]},{"id":"f4af742b.ef7e18","type":"ui_button","z":"8236cba4.923ee8","name":"","group":"c19b325b.5949d","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":90,"y":240,"wires":[["5eea9e43.6c10b"]]}]